body{
    background-image: url('https://th.bing.com/th/id/OIP.e8yqFS4mek1Oh6aGljJAHAHaEo?w=302&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    /* margin: 0;
    padding: 0; */
}
/* styling id */
#FirstName{
    background-color: rgb(220, 220, 220);
}

#paragraph1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

#paragraph2{
    font-family: cursive;
    font-weight: 300;
}

#paragraph3{
    background-color: black;
    color: brown;
}

/* styling Classs */

.grp1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px dashed;
}

.list2{
    list-style-type: square;
}


/* Table */

table{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: 10% 50% 10% 50%;
}

table th{
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid;
}

table tr{
    border-bottom: 1px dotted rgb(0, 0, 0);
}

table td{
    border-right: 1px dotted;
    padding: 3%;
}

    .grp3 {
        position: relative;
    }

    .grp3 p{
        position: absolute;
        top: 20px;
        left: 10px;
    }

/* flex box */
.parent{
    border: 1px solid black ;
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center;     */
    align-content: space-between;

}

.child{
    border: 1px dashed black;
    /* width: 5%; */
    /* margin-right: 20px; */
}

nav{
    background-color: rgb(134, 156, 159);
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
}

/* media query */

@media screen  and (max-width: 720px) {
    header nav{
        height: 100px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 10px;
        background-color: bisque;
    }
}